$size: 30px;
$light-green-color: rgb(224, 242, 233);
$dark-green-color: rgb(60, 136, 126);
$light-brown-color: rgb(206, 181, 167);
$dark-brown-color: rgb(161, 124, 107);
$dark-main-color: rgb(91, 123, 122);